#map-canvas {
    width:100%;
    height:800px;
}

#wishList {
	padding-top: 150px;
	display: none
}

#photoList {
	display: none
}

#photoList > ul {
	list-style: none;
}

#wishList > ul {
	list-style: none;
}

li.IMG {
	margin-bottom: 150px;
}

body { padding-top: 45px; }